{% extends 'base.html.twig' %}

{% block title %}О нас{% endblock %}

{% block body %}

    <main>
        <section class ="container-fluid price">
            <div class ="container ">
                <h2 class ="price_tittle">О нас</h2>
                <p>
                    Мы супер компания
                </p>
                <div class ="price_line"></div>
            </div>
        </section>
    </main>
{% endblock %}
