{% extends 'base.html.twig' %}

{% block title %}Сервисы{% endblock %}

{% block body %}

<main>
    <section class = "photo_printing">
        <div class =" container">
            <div class ="row">
                <div class ="col-lg-7">
                    <div class ="photo_text">
                        <div class ="photo_all">
                            <h1 class ="photo_tittle">Фотопечать</h1>
                            <h4 class ="photo_undertittle">Требования к файлам</h4>
                            <div class ="photo_list d-flex">
                                <img src="images/443-4432781_checkmark-check-orange-icon-png-transparent-png.png" class ="photo_mark">
                                <p class ="photo_marktext">Файлы принимаются в формате JPEG, цветовая модель RGB</p>
                            </div>
                            <div class ="photo_list d-flex">
                                <img src="images/443-4432781_checkmark-check-orange-icon-png-transparent-png.png" class ="photo_mark">
                                <p class ="photo_marktext">Технологические подрезы от 1 до 3 мм с каждого края</p>
                            </div>
                            <div class ="photo_list d-flex">
                                <img src="images/443-4432781_checkmark-check-orange-icon-png-transparent-png.png" class ="photo_mark">
                                <p class ="photo_marktext">Максимальный размер файла - 24 МБ</p>
                            </div>
                            <div class ="photo_list d-flex">
                                <img src="images/443-4432781_checkmark-check-orange-icon-png-transparent-png.png" class ="photo_mark">
                                <p class ="photo_marktext">Цветокоррекция на усмотрение оператора</p>
                            </div>
                            <div class ="photo_list d-flex">
                                <img src="images/443-4432781_checkmark-check-orange-icon-png-transparent-png.png" class ="photo_mark">
                                <p class ="photo_marktext">Срок изготовления - 2 - 4 рабочих дня. В выходные дни заказы<br> не печатаются и не доставляются.</p>
                            </div>
                            <p class ="photo_under"> Большие размеры, ДО 14 ДНЕЙ</p>
                            <div class ="photo_list d-flex">
                                <img src="images/443-4432781_checkmark-check-orange-icon-png-transparent-png.png" class ="photo_mark">
                                <p class ="photo_marktext">Цены интернет-магазина могут отличаться от цен в фотоцентре.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class ="shadowex ">
        <p class= "test">&nbsp;</p>
    </div>
    <section class ="container-fluid price">
        <div class ="container ">
            <h2 class ="price_tittle">СТОИМОСТЬ ФОТОПЕЧАТИ</h2>
            <div class ="price_line"></div>
            <table class="table price_color">
                <thead>
                <tr>
                    <th class="col-3">Формат печати</th>
                    <th class="col-3">Цена без скидки</th>
                    <th class="col-2">100 - 199 шт.</th>
                    <th class="col-2">200 - 299 шт.</th>
                    <th class="col-2">От 300 шт.</th>
                </tr>
                </thead>
                <tbody class ="price-weight">
                <tr>
                    <td>8х10 см</td>
                    <td>7,5 руб.</td>
                    <td>7,5 руб.</td>
                    <td>7,5 руб.</td>
                    <td>7,5 руб.</td>
                </tr>
                <tr>
                    <td>9х13 см</td>
                    <td>10 руб.</td>
                    <td>9 руб.</td>
                    <td>8,5 руб.</td>
                    <td>8 руб.</td>
                </tr>
                <tr>
                    <td>10х15 см</td>
                    <td>10 руб.</td>
                    <td>9 руб.</td>
                    <td>8,5 руб.</td>
                    <td>8 руб.</td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th class="col-3">Формат печати</th>
                    <th class="col-3">Цена без скидки</th>
                    <th class="col-2">30 - 59 шт.</th>
                    <th class="col-2">60 - 89 шт.</th>
                    <th class="col-2">От 90 шт.</th>
                </tr>
                </thead>
                <tbody class ="price-weight">
                <tr>
                    <td>13х18 см</td>
                    <td>21 руб.</td>
                    <td>19 руб.</td>
                    <td>17 руб.</td>
                    <td>16 руб.</td>
                </tr>
                <tr>
                    <td>15х20 см</td>
                    <td>24 руб.</td>
                    <td>21 руб.</td>
                    <td>18 руб.</td>
                    <td>15 руб.</td>
                </tr>
                <tr>
                    <td>15х21 см</td>
                    <td>24 руб.</td>
                    <td>21 руб.</td>
                    <td>18 руб.</td>
                    <td>15 руб.</td>
                </tr>
                <tr>
                    <td>18х25 см</td>
                    <td>46 руб.</td>
                    <td>41 руб.</td>
                    <td>38 руб.</td>
                    <td>36 руб.</td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th class="col-3">Формат печати</th>
                    <th class="col-3">Цена без скидки</th>
                    <th class="col-2">20 - 39 шт.</th>
                    <th class="col-2">40 - 59 шт.</th>
                    <th class="col-2">От 60 шт.</th>
                </tr>
                </thead>
                <tbody class ="price-weight">
                <tr>
                    <td>20х30 см</td>
                    <td>50 руб.</td>
                    <td>45 руб.</td>
                    <td>42 руб.</td>
                    <td>40 руб.</td>
                </tr>
                <tr>
                    <td>21х30 см</td>
                    <td>50 руб.</td>
                    <td>45 руб.</td>
                    <td>42 руб.</td>
                    <td>40 руб.</td>
                </tr>
                <tr>
                    <td>25х38 см</td>
                    <td>95 руб.</td>
                    <td>85 руб.</td>
                    <td>81 руб.</td>
                    <td>71 руб.</td>
                </tr>
                <tr>
                    <td>30х40 см</td>
                    <td>110 руб.</td>
                    <td>99 руб.</td>
                    <td>93 руб.</td>
                    <td>88 руб.</td>
                </tr>
                <tr>
                    <td>30х45 см</td>
                    <td>125 руб.</td>
                    <td>112 руб.</td>
                    <td>106 руб.</td>
                    <td>100 руб.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class ="container order">
        <h2 class ="price_tittle">ЗАКАЗАТЬ ПЕЧАТЬ ФОТО</h2>
        <div class ="order_background">
            <form class="order_name">
                <div class="row ">
                    <div class ="col-lg-2"></div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" placeholder="Ссылка на облако">
                    </div>
                    <div class ="col-lg-2"></div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" placeholder="Как вас зовут?">
                    </div>
                </div>
            </form>
            <form class="order_name">
                <div class="row ">
                    <div class ="col-lg-2"></div>
                    <div class="col-lg-3 dropdown">
                        <a class="btn dropdown-toggle order_button" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                            Размер
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <div class ="col-lg-2"></div>
                    <div class="col-lg-3 d-flex ">
                        <div class ="order_number">
                            <div class ="number">
                                <p class ="order_text">+7</p>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Как вас зовут?">
                    </div>
                </div>
            </form>
            <form class="order_name">
                <div class="row ">
                    <div class ="col-lg-2"></div>
                    <div class="col-lg-3 dropdown">
                        <a class="btn dropdown-toggle order_button" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                            Бумага
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <div class ="col-lg-2"></div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" placeholder="E-mail для связи">
                    </div>
                </div>
            </form>
            <form class="order_name">
                <div class="row ">
                    <div class ="col-lg-2"></div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control order_comment" placeholder="Ссылка на облако">
                    </div>
                </div>
            </form>
            <form class="order_name">
                <div class="row ">
                    <div class ="col-lg-4"></div>
                    <div class="col-lg-4 order_indient">
                        <button type="button" class="btn w-100 order_btn">Заказать печать фото</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class ="container souvenirs">
        <h2 class ="service_text">А ЕЩЁ МЫ ДЕЛАЕМ ФОТОСУВЕНИРЫ</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 service__items">
            {% for service in services %}
                <div class="col">
                    <div class="card souvenirs_item h-100">
                        <a href="#">
                            <img src="/uploads/{{ service.photo }}" class="card-img-top" alt=""></a>
                        <div class="card-body p-0">
                            <h2 class="souvenirs_title">{{ service.title }}</h2>
                            <p class="souvenirs_text">{{ service.text }}</p>
                        </div>
{#                        <div class="card-footer p-0">#}
{#                            <a href="#" class="souvenirs_about">Подробнее</a>#}
{#                        </div>#}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
