{% extends 'base.html.twig' %}

{% block title %}Сувениры{% endblock %}

{% block body %}

<main>
    <section class = "photo_souvenir">
        <div class =" container">
            <div class ="row">
                <div class ="col-lg-7">
                    <div class ="photo_text">
                        <div class ="photo_all">
                            <h1 class ="souvenir_tittle">Печать на кружках</h1>
                            <div class ="photo_list d-flex">
                                <img src="images/443-4432781_checkmark-check-orange-icon-png-transparent-png.png" class ="photo_mark">
                                <p class ="photo_marktext">Выбирайте кружку из нашего каталога.</p>
                            </div>
                            <div class ="photo_list d-flex">
                                <img src="images/443-4432781_checkmark-check-orange-icon-png-transparent-png.png" class ="photo_mark">
                                <p class ="photo_marktext">Загружайте фото с компьютера.</p>
                            </div>
                            <div class ="photo_list d-flex">
                                <img src="images/443-4432781_checkmark-check-orange-icon-png-transparent-png.png" class ="photo_mark">
                                <p class ="photo_marktext">Оперативное изготовление и доставка в наш фотоцентр.</p>
                            </div>
                            <div class ="photo_list d-flex">
                                <img src="images/443-4432781_checkmark-check-orange-icon-png-transparent-png.png" class ="photo_mark">
                                <p class ="photo_marktext">Срок изготовления, 2 - 3 рабочих дня.</p>
                            </div>

                            <div class ="photo_list d-flex">
                                <img src="images/443-4432781_checkmark-check-orange-icon-png-transparent-png.png" class ="photo_mark">
                                <p class ="photo_marktext">Цены интернет-магазина могут отличаться от цен в фотоцентре.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class ="shadowex ">
        <p class= "test">&nbsp;</p>
    </div>
    <section class ="container caption">
        <h2 class ="caption_header">ВАМ НУЖНО ТОЛЬКО ВЫБРАТЬ ТИП КРУЖКИ</h2>
        <div class ="row">
            <div class ="col-lg-4 d-flex  caption_circle">
                <div class ="caption_card">
                    <img src="images/s-mug_photo.png" class ="caption_images">
                    <h4 class ="caption_tittle">ФОТО ИЛИ КАРТИНКУ</h4>
                    <p class ="caption_undertittle">Нанесем на кружки любые фотографии,<br>картинки, изображения. Добавим <br>оформление и любой текст к фото.</p>
                </div>
            </div>
            <div class ="col-lg-4 d-flex justify-content-center caption_circle">
                <div class ="caption_card">
                    <img src="images/s-mug_photo.png" class ="caption_images">
                    <h4 class ="caption_tittle_second">ЛЮБУЮ НАДПИСЬ</h4>
                    <p class ="caption_undertittle">Напечатаем на кружках любой текст,<br> надписи, поздравления, приколы,<br> стихи, цитаты, признания в любви.</p>
                </div>
            </div>
            <div class ="col-lg-4 d-flex justify-content-end caption_circle">
                <div class ="caption_card">
                    <img src="images/s-mug_photo.png" class ="caption_images">
                    <h4 class ="caption_tittle">ЛОГОТИП КОМПАНИИ</h4>
                    <p class ="caption_undertittle">Нанесём на кружки логотип Вашей<br> компании, фирменную символику,<br> раскрасим в корпоративные цвета.</p>
                </div>
            </div>
        </div>
    </section>
    <section class ="container choice">
        <h2 class ="service_text">ФОТОСУВЕНИРЫ</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 choice__items">
            <div class="col">
                <div class="card choice_item h-100">
                    <a href="#">
                        <img src="images/s-KR00001.png" class="card-img-top" alt=""></a>
                    <div class="card-body choice_middle">
                        <h4 class="choice_title">Кружка белая</h4>
                        <h3 class="choice_price">300 руб</h3>
                        <p class="choice_text">Размер 8,2х9,5 см. Вместимость 330 мл. </p>
                        <p class="choice_text"> Код: КР0001 </p>
                        <p class="choice_text">11-30 шт - 210 руб.</p>
                        <p class="choice_text">31-50 шт - 170 руб.</p>
                        <p class="choice_text">от 51 шт - 150 руб.</p>
                    </div>
                    <div class="card-footer choice_footer">
                        <button type="button" class="btn w-100 order_btn">Заказать </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card choice_item h-100">
                    <a href="#">
                        <img src="images/s-KR00001.png" class="card-img-top" alt=""></a>
                    <div class="card-body choice_middle">
                        <h4 class="choice_title">Кружка белая</h4>
                        <h3 class="choice_price">300 руб</h3>
                        <p class="choice_text">Размер 8,2х9,5 см. Вместимость 330 мл. </p>
                        <p class="choice_text"> Код: КР0001 </p>
                        <p class="choice_text">11-30 шт - 210 руб.</p>
                        <p class="choice_text">31-50 шт - 170 руб.</p>
                        <p class="choice_text">от 51 шт - 150 руб.</p>
                    </div>
                    <div class="card-footer choice_footer">
                        <button type="button" class="btn w-100 order_btn">Заказать </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card choice_item h-100">
                    <a href="#">
                        <img src="images/s-KR00001.png" class="card-img-top" alt=""></a>
                    <div class="card-body choice_middle">
                        <h4 class="choice_title">Кружка белая</h4>
                        <h3 class="choice_price">300 руб</h3>
                        <p class="choice_text">Размер 8,2х9,5 см. Вместимость 330 мл. </p>
                        <p class="choice_text"> Код: КР0001 </p>
                        <p class="choice_text">11-30 шт - 210 руб.</p>
                        <p class="choice_text">31-50 шт - 170 руб.</p>
                        <p class="choice_text">от 51 шт - 150 руб.</p>
                    </div>
                    <div class="card-footer choice_footer">
                        <button type="button" class="btn w-100 order_btn">Заказать </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card choice_item h-100">
                    <a href="#">
                        <img src="images/s-KR00001.png" class="card-img-top" alt=""></a>
                    <div class="card-body choice_middle">
                        <h4 class="choice_title">Кружка белая</h4>
                        <h3 class="choice_price">300 руб</h3>
                        <p class="choice_text">Размер 8,2х9,5 см. Вместимость 330 мл. </p>
                        <p class="choice_text"> Код: КР0001 </p>
                        <p class="choice_text">11-30 шт - 210 руб.</p>
                        <p class="choice_text">31-50 шт - 170 руб.</p>
                        <p class="choice_text">от 51 шт - 150 руб.</p>
                    </div>
                    <div class="card-footer choice_footer">
                        <button type="button" class="btn w-100 order_btn">Заказать </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card choice_item h-100">
                    <a href="#">
                        <img src="images/s-KR00001.png" class="card-img-top" alt=""></a>
                    <div class="card-body choice_middle">
                        <h4 class="choice_title">Кружка белая</h4>
                        <h3 class="choice_price">300 руб</h3>
                        <p class="choice_text">Размер 8,2х9,5 см. Вместимость 330 мл. </p>
                        <p class="choice_text"> Код: КР0001 </p>
                        <p class="choice_text">11-30 шт - 210 руб.</p>
                        <p class="choice_text">31-50 шт - 170 руб.</p>
                        <p class="choice_text">от 51 шт - 150 руб.</p>
                    </div>
                    <div class="card-footer choice_footer">
                        <button type="button" class="btn w-100 order_btn">Заказать </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card choice_item h-100">
                    <a href="#">
                        <img src="images/s-KR00001.png" class="card-img-top" alt=""></a>
                    <div class="card-body choice_middle">
                        <h4 class="choice_title">Кружка белая</h4>
                        <h3 class="choice_price">300 руб</h3>
                        <p class="choice_text">Размер 8,2х9,5 см. Вместимость 330 мл. </p>
                        <p class="choice_text"> Код: КР0001 </p>
                        <p class="choice_text">11-30 шт - 210 руб.</p>
                        <p class="choice_text">31-50 шт - 170 руб.</p>
                        <p class="choice_text">от 51 шт - 150 руб.</p>
                    </div>
                    <div class="card-footer choice_footer">
                        <button type="button" class="btn w-100 order_btn">Заказать </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card choice_item h-100">
                    <a href="#">
                        <img src="images/s-KR00001.png" class="card-img-top" alt=""></a>
                    <div class="card-body choice_middle">
                        <h4 class="choice_title">Кружка белая</h4>
                        <h3 class="choice_price">300 руб</h3>
                        <p class="choice_text">Размер 8,2х9,5 см. Вместимость 330 мл. </p>
                        <p class="choice_text"> Код: КР0001 </p>
                        <p class="choice_text">11-30 шт - 210 руб.</p>
                        <p class="choice_text">31-50 шт - 170 руб.</p>
                        <p class="choice_text">от 51 шт - 150 руб.</p>
                    </div>
                    <div class="card-footer choice_footer">
                        <button type="button" class="btn w-100 order_btn">Заказать </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card choice_item h-100">
                    <a href="#">
                        <img src="images/s-KR00001.png" class="card-img-top" alt=""></a>
                    <div class="card-body choice_middle">
                        <h4 class="choice_title">Кружка белая</h4>
                        <h3 class="choice_price">300 руб</h3>
                        <p class="choice_text">Размер 8,2х9,5 см. Вместимость 330 мл. </p>
                        <p class="choice_text"> Код: КР0001 </p>
                        <p class="choice_text">11-30 шт - 210 руб.</p>
                        <p class="choice_text">31-50 шт - 170 руб.</p>
                        <p class="choice_text">от 51 шт - 150 руб.</p>
                    </div>
                    <div class="card-footer choice_footer">
                        <button type="button" class="btn w-100 order_btn">Заказать </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card choice_item h-100">
                    <a href="#">
                        <img src="images/s-KR00001.png" class="card-img-top" alt=""></a>
                    <div class="card-body choice_middle">
                        <h4 class="choice_title">Кружка белая</h4>
                        <h3 class="choice_price">300 руб</h3>
                        <p class="choice_text">Размер 8,2х9,5 см. Вместимость 330 мл. </p>
                        <p class="choice_text"> Код: КР0001 </p>
                        <p class="choice_text">11-30 шт - 210 руб.</p>
                        <p class="choice_text">31-50 шт - 170 руб.</p>
                        <p class="choice_text">от 51 шт - 150 руб.</p>
                    </div>
                    <div class="card-footer choice_footer">
                        <button type="button" class="btn w-100 order_btn">Заказать </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card choice_item h-100">
                    <a href="#">
                        <img src="images/s-KR00001.png" class="card-img-top" alt=""></a>
                    <div class="card-body choice_middle">
                        <h4 class="choice_title">Кружка белая</h4>
                        <h3 class="choice_price">300 руб</h3>
                        <p class="choice_text">Размер 8,2х9,5 см. Вместимость 330 мл. </p>
                        <p class="choice_text"> Код: КР0001 </p>
                        <p class="choice_text">11-30 шт - 210 руб.</p>
                        <p class="choice_text">31-50 шт - 170 руб.</p>
                        <p class="choice_text">от 51 шт - 150 руб.</p>
                    </div>
                    <div class="card-footer choice_footer">
                        <button type="button" class="btn w-100 order_btn">Заказать </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card choice_item h-100">
                    <a href="#">
                        <img src="images/s-KR00001.png" class="card-img-top" alt=""></a>
                    <div class="card-body choice_middle">
                        <h4 class="choice_title">Кружка белая</h4>
                        <h3 class="choice_price">300 руб</h3>
                        <p class="choice_text">Размер 8,2х9,5 см. Вместимость 330 мл. </p>
                        <p class="choice_text"> Код: КР0001 </p>
                        <p class="choice_text">11-30 шт - 210 руб.</p>
                        <p class="choice_text">31-50 шт - 170 руб.</p>
                        <p class="choice_text">от 51 шт - 150 руб.</p>
                    </div>
                    <div class="card-footer choice_footer">
                        <button type="button" class="btn w-100 order_btn">Заказать </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card choice_item h-100">
                    <a href="#">
                        <img src="images/s-KR00001.png" class="card-img-top" alt=""></a>
                    <div class="card-body choice_middle">
                        <h4 class="choice_title">Кружка белая</h4>
                        <h3 class="choice_price">300 руб</h3>
                        <p class="choice_text">Размер 8,2х9,5 см. Вместимость 330 мл. </p>
                        <p class="choice_text"> Код: КР0001 </p>
                        <p class="choice_text">11-30 шт - 210 руб.</p>
                        <p class="choice_text">31-50 шт - 170 руб.</p>
                        <p class="choice_text">от 51 шт - 150 руб.</p>
                    </div>
                    <div class="card-footer choice_footer">
                        <button type="button" class="btn w-100 order_btn">Заказать </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class ="container caption_second">
        <h2 class ="caption_header">ЗАКАЗАТЬ ПЕЧАТЬ НА КРУЖКАХ ОЧЕНЬ ПРОСТО</h2>
        <div class ="row">
            <div class ="col-lg-3 d-flex caption_circle">
                <div class ="caption_card">
                    <img src="images/cart.png" class ="caption_cart">
                    <p class ="caption_text">Сделайте заказ через сайт,<br> выбрав нужный тип<br> кружки</p>
                </div>
                <div class ="caption_arrow">
                    <img src ="images/dashicons_arrow-right-alt2.svg" class ="arrow_width">
                </div>
            </div>
            <div class ="col-lg-3 d-flex  caption_circle">
                <div class ="caption_card">
                    <img src="images/image.png" class ="caption_cart">
                    <p class ="caption_text">Прикрепите фото ил<br>и картинку к форме<br> заказа</p>
                </div>
                <div class ="caption_arrow">
                    <img src ="images/dashicons_arrow-right-alt2.svg" class ="arrow_width">
                </div>
            </div>
            <div class ="col-lg-3 d-flex  caption_circle">
                <div class ="caption_card">
                    <img src="images/radio.png" class ="caption_cart">
                    <p class ="caption_text">Мы свяжемся с Вами<br> для уточнения<br> деталей</p>
                </div>
                <div class ="caption_arrow">
                    <img src ="images/dashicons_arrow-right-alt2.svg" class ="arrow_width">
                </div>
            </div>
            <div class ="col-lg-3 d-flex  caption_circle">
                <div class ="caption_card">
                    <img src="images/galka.png" class ="caption_cart">
                    <p class ="caption_text">Получите свой заказ<br> на Красном 66 или<br> закажите доставку</p>
                </div>

            </div>
        </div>
    </section>
    <section class ="container souvenirs">
        <h2 class ="service_text">МЫ ДЕЛАЕМ И ДРУГИЕ ФОТОСУВЕНИРЫ</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 service__items">
            <div class="col">
                <div class="card souvenirs_item h-100">
                    <a href="#">
                        <img src="images/s-9271.jpg" class="card-img-top" alt=""></a>
                    <div class="card-body p-0">
                        <h2 class="souvenirs_title">Объемные буквы</h2>
                        <p class="souvenirs_text">Оперативная печать светостойких фотомагнитов самых разнообразных видов и форм в Новосибирске. </p>
                    </div>
                    <div class="card-footer p-0">
                        <a href="#" class="souvenirs_about">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card souvenirs_item h-100">
                    <a href="#">
                        <img src="images/s-9271.jpg" class="card-img-top" alt=""></a>
                    <div class="card-body p-0">
                        <h2 class="souvenirs_title">Печати на кружках</h2>
                        <p class="souvenirs_text">Самая качественная печать на кружках в Новосибирске. Напечатаем на кружках фото, картинки, надписи, логотипы.</p>
                    </div>
                    <div class="card-footer p-0">
                        <a href="#" class="souvenirs_about">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card souvenirs_item h-100">
                    <a href="#">
                        <img src="images/s-9271.jpg" class="card-img-top" alt=""></a>
                    <div class="card-body p-0">
                        <h2 class="souvenirs_title">Коврики для мышки</h2>
                        <p class="souvenirs_text">Качественная печать Ваших фотографий картинок, текста, логотипов  на ковриках для компьютерной мыши.</p>
                    </div>
                    <div class="card-footer p-0">
                        <a href="#" class="souvenirs_about">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

